
.nav-options{
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 1.3rem;
    padding: 1rem;
}

.list{
    list-style: none;
}

.list li {
    padding: 1rem;
}

.container {
    display: flex;
    gap: 4rem;
}

.tarjeta-resumen{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
}

.tarjeta-resumen > div {
    flex: 1;
}
